* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.container {
    height: 100%;
    width: 100%;
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;

    

}
#clicker {
    position: relative;
    background-color: #222222;
    height: 250px;
    width: 250px;
    border-radius: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: dotted 2px white;
    font-family: "Courier New", monospace ;
    color: white;
    box-shadow: 0 0 20px #ffffff;
    transition: transform 0.15s ease ,background-color 0.2s ease;
}
#resetbtn {
    position: absolute;
    bottom:20px;
    background-color: #292929;
    height: 40px;
    width: 120px;
    border: solid 1px white;
    border-radius:5px;
    font-family: "Courier New", monospace ;
    font-weight: 300;
    font-size: 14px;
    color: white;
    transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}
#resetbtn:hover{
    background-color: red;
    transform: scale(1.05);
    box-shadow: 0 0 10px red;
}
